<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet"  href="../static/css/style.css" th:href="@{/css/style.css}">
    </div>
</head>
<body>

<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/book/">Available Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/return">Return</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/book/new">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/author/">Add Author</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/new">Add Member</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a th:href="@{/logout}" class="btn btn-outline-info" >Log Out</a>
                </form>
            </div>
        </nav>
    </header>
</div>
</body>
</html>